body{
    background-color: white;
    height:100%;
}

h1{
    color: black;
    text-align: center;
}

.form-Building-Room{
    text-align: center;
    background-color: greenyellow;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
.form-Building-Text thead tr{
    background-color: #009879;
    color: #ffffff;
}

.information-table{
    border: medium solid greenyellow;
    border-collapse: collapse;
    margin: 0 auto;
    width: 200;
    height: auto;
}
.information-table td{
    text-align: center;
    font-family: sans-serif;
    border: thin solid greenyellow;
    border-collapse: collapse;
    width: 20%;
    padding: 5px;
    background-color: #ffffff;
}

.information-table th{
    font-family: monospace;
    border: thin solid greenyellow;
    border-collapse: collapse;
    width: 10%;
    padding: 5px;
    background-color: #ffffff;
}

.information-table thead tr td {
    background-color:springgreen;
}

.entete-table{
    padding: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.page-header{
    background: no-repeat left/cover url(/sementicWeb/src/main/resources/static/assets/images.jpg);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45ffb8;
    color: #fff;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2% auto;
}

.query2-infos{
    border: medium solid greenyellow;
    border-collapse: collapse;
    margin: 0 auto;
    width: 200;
    height: auto;
}
.query2-infos td{
    text-align: center;
    font-family: sans-serif;
    border: thin solid greenyellow;
    border-collapse: collapse;
    width: 20%;
    padding: 5px;
    background-color: #ffffff;
}
.query2-infos th{
    font-family: monospace;
    border: thin solid greenyellow;
    border-collapse: collapse;
    width: 10%;
    padding: 5px;
    background-color: #ffffff;
}
ul{
    list-style: none;
    margin: 0 auto;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

.cat-query2 h1{
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: bold;
}

.liste-header{
    background: no-repeat left/cover url(/sementicWeb/src/main/resources/static/assets/images.jpg);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header.liste-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2% auto;
}

.body-liste{
    background-color:#45ffb8;
    width: 100%;
}
.inline li{
    flex-direction: row;
 
}