<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>
        Salle-date-information.
    </title>
    <link rel="stylesheet"  th:href="@{css/style.css}"/>
</head>
<body>
    <h1> 
        Select the date and the room.
    </h1>
    <form class="form-Building-Room" th:action="@{/selectBuildingRoom}" th:object="${buildingForm}" method="POST">
       <table>
           <tr>
               <td>
                   select the room
               </td>
               <td>
                   <select th:field="*{nameBuilding}">
                        <option th:each="listeSalle: ${listeSalles}" 
                                th:value="${listeSalle}" 
                                th:text="${listeSalle}"
                                th:selected="Nothing-selected"
                                >
                        </option>
                   </select>
               </td>

               <td>
                <p>date_jour_mois_annee: <input type="date" th:field="*{idate}"/></p>
               </td>
           </tr>
           <tr>
            <td>
                <p><input type="submit" value="Submit"/></p>    
            </td>
           </tr>
       </table>
    </form>
</body>
</html>



<tr th:each="state : ${room}">
    <td th:utext="${state}">No</td>



    <table class="query2-infos">
        <caption class="cat-query2">
          <h1>Information sur les temperatures de toutes les salles</h1>
      </caption>
      <thead>
          <tr>
              <th>Room</th>
              <th>Date</th>
              <th>Time</th>
              <th>Dtector</th>
              <th>Value</th>
              <th>sensor-location</th>
            </tr>
      </thead>
          <tbody>
            <tr th:each="state : ${allData}">
              <td th:utext="${state.value}">No</td>
              <td th:utext="${state}">No</td>
          </tbody>
      </table>
  

      <ul class="inline">
        <li th:each="key : ${room}">
          <span th:text="${key}"></span>
        </li>
        <br>
        <li th:each="date : ${dateL}">
          <span th:text="${date}">
          </span>
        </li>
      </ul>
    