<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Information requête</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    
    <table class="query2-infos">
        <caption class="cat-query2">
            <h1>Information sur les temperatures de toutes les salles</h1>
        </caption>
        <thead>
            <tr>
                <th>Room</th>
                <th>Date</th>
                <th>Time</th>
                <th>Dtector</th>
                <th>Value</th>
                <th>sensor-location</th>
              </tr>
        </thead>
        <tbody>
            <tr th:each="flower, state : ${flowers}">
                <td th:utext="${state.index}">index</td>
                <td th:utext="${state.count}">count</td>
                <td th:utext="${state.size}">size</td>
                <td th:utext="${state.even}">even</td>
                <td th:utext="${state.odd}">odd</td>
                <td th:utext="${state.first}">first</td>
              </tr>
        </tbody>
    </table>
    <table>
        <tr>
          <th>No</th>
          <th>Phone</th>
          <th>Full Name</th>
          <th>Email</th>
        </tr>
        <tr th:each="mapItem, state : ${contacts}"
               class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
          <td th:utext="${state.count}">No</td>
          <td th:utext="${mapItem.key}">Phone Number</td>
          <td th:utext="${mapItem.value.fullName}">Email</td>  
          <td th:utext="${mapItem.value.email}">Email</td>
        </tr>
    </table>
    <div th:text="${flowers}"></div>
</body>
</html>